
.addNotes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 50px;
}

/* body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #04AA6D;
    font-family: 'Barlow Condensed',sans-serif;
} */

.form {
    padding: 27px 34px;
    width: 100%;
    width: 700px;
    box-sizing: border-box;
    outline: none;
    border: 3px solid #FBE4B4;
    margin: 50px;
    border-radius: 3px;
}

.input-group {
    position: relative;
    margin: 40px 0;
}

.input {
    padding: 25px 10px 10px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    outline: none;
    background-color: #D9D9D9;
    border: 2px solid #9d9d9d;
    border-radius: 3px;
}

.placeholder {
    position: absolute;
    top: 7px;
    left: 8px;
    font-size: 14px;
    padding: 0px;
    transition: 0.3s;
    font-weight: 500;
    background-color: #D9D9D9;
    text-transform: uppercase;
}

.input:focus + .placeholder {
    top: -28px;
    color:rgba(41, 29, 29, 0.895);
    background: #fff;
    font-weight: 500;
    font-size: 17px;
}

.input-group textarea {
    resize: none;
     height: 50vh;   
    max-width: 700px;
 }

 .submit-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
 }

 .submit-btn button { 
    padding: 10px 25px;
    border-radius: 3px;
    background-color: #FBE4B4;
    border: 2px solid #ffc13d;
 }

.output-container {
    margin: 10px 0 25px;
}

 .output {
    background-color: #FBE4B4;
 }

 .button-div {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .button-div button {
    margin: 0 5px;
    padding: 4px 15px;
    border-radius: 3px;
    background-color: #fff;
    border: 2px solid #ffc13d;
 }

 
.edit-form {
    padding: 8px 10px;
    width: 100%;
    width: 460px;
    box-sizing: border-box;
    outline: none;
    border: 3px solid #FBE4B4;
    border-radius: 3px;
}

.edit-input-group {
    position: relative;
    margin: 30px 0;
}

.edit-input {
    padding: 25px 10px 10px;
    width: 100%;
    max-width: 200px;
    box-sizing: border-box;
    outline: none;
    background-color: #D9D9D9;
    border: 2px solid #9d9d9d;
    border-radius: 3px;
}

.edit-placeholder {
    position: absolute;
    top: 7px;
    left: 8px;
    font-size: 11px;
    padding: 0px;
    transition: 0.3s;
    font-weight: 500;
    background-color: #D9D9D9;
    text-transform: uppercase;
}

.edit-input:focus + .edit-placeholder {
    top: -20px;
    color:rgba(41, 29, 29, 0.895);
    background: #fff;
    font-weight: 400;
    font-size: 12px;
}

.edit-input-group textarea {
    resize: none;
     height: 20vh;   
    max-width: 400px;
 }
